---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Quirqui-Tour">
	<header class="navegacion">
		<div class="contenedor-logo">
			<section class="logo">
				<div>
					<img src="/LogoTOUR.svg" alt="">
				</div>
				<div class="logo-principal">
					<a href="/"><img src="/logo.png" alt=""></a>
				</div>
				<div>
					<img src="/LogoTOUR.svg" alt="" style="transform: scaleX(-1);">
				</div>
			</section>
			<section class="navegacion-contenedor">
				<nav class="navbar">
					<!-- Enlaces de navegación -->
					<ul class="nav-links">
						<li><a href="/">INICIO</a></li>
						<li><a href="/oruro">ORURO</a></li>
						<li><a href="/infTuristica">INF. TURISTICA</a></li>
						<li><a href="/busesTransporte">BUSES & TRANSPORTE</a></li>
						<li><a href="/carnaval">CARNAVAL</a></li>
						<li><a href="/museos">MUSEOS</a></li>
						<li><a href="/acercaDe">ACERCA DE</a></li>
						<li><a href="/gesContenido">GES. DE CONTENIDO</a></li>
					</ul>
				</nav>
			</section>
		</div>
	</header>
	<main>
		<h1>INICIO</h1>
	</main>
	<footer class="pie-pagina">
		<div>
			<p> &copy; Copyright 2024 QUIRQUI-TOUR todos los derechos reservados<br />
			FACULTAD NACIONAL DE INGENIERIA <br />
			INGENIERIA EN SISTEMAS E INFORMATICA<br />
			SIS-INF</p>
		</div>
	</footer>
</Layout>
